In [1]:
import pandas as pd
df = pd.read_csv("heart_attack_south_africa.csv")
print(df)

       Patient_ID  Age  Gender  Cholesterol_Level  Blood_Pressure_Systolic  \
0               1   76  Female                156                       94
1               2   39  Female                160                      185
2               3   85    Male                254                      173
3               4   45  Female                261                      187
4               5   48    Male                206                      189
...           ...  ...     ...                ...                      ...
99995       99996   55  Female                187                      159
99996       99997   84    Male                172                      169
99997       99998   67  Female                299                      134
99998       99999   33    Male                221                      160
99999      100000   82    Male                176                       94

       Blood_Pressure_Diastolic Smoking_Status Alcohol_Intake  \
0                            79             No           High
1                            88             No            Low
2                           113            Yes       Moderate
3                            65             No           High
4                            84             No            Low
...                         ...            ...            ...
99995                        88            Yes       Moderate
99996                        86            Yes            Low
99997                        90             No            Low
99998                        99             No           High
99999                        91             No           High

      Physical_Activity  Obesity_Index Diabetes_Status  \
0             Sedentary           35.2              No
1             Sedentary           21.3              No
2         Highly Active           32.0             Yes
3             Sedentary           36.4              No
4                Active           26.6              No
...                 ...            ...             ...
99995         Sedentary           32.9              No
99996            Active           24.0              No
99997            Active           32.4             Yes
99998            Active           39.1              No
99999            Active           20.3              No

      Family_History_Heart_Disease Diet_Quality Stress_Level  \
0                               No         Good         High
1                               No      Average       Medium
2                               No         Good          Low
3                              Yes      Average          Low
4                               No         Good         High
...                            ...          ...          ...
99995                           No      Average         High
99996                           No         Poor       Medium
99997                          Yes      Average          Low
99998                          Yes      Average         High
99999                           No         Poor       Medium

      Heart_Attack_History Medication_Usage  Triglycerides_Level  LDL_Level  \
0                       No               No                  264        141
1                       No              Yes                  150         81
2                       No               No                  220        124
3                       No              Yes                  141         56
4                       No               No                  221        186
...                    ...              ...                  ...        ...
99995                   No              Yes                  225        158
99996                   No               No                  159        110
99997                  Yes               No                  219        141
99998                   No              Yes                  131        191
99999                   No               No                   88        169

       HDL_Level  Heart_Attack_Outcome
0             65                     0
1             42                     0
2             70                     1
3             38                     1
4             26                     0
...          ...                   ...
99995         48                     1
99996         24                     1
99997         22                     1
99998         61                     1
99999         64                     0

[100000 rows x 20 columns]

In [2]:
print(df.head())

   Patient_ID  Age  Gender  Cholesterol_Level  Blood_Pressure_Systolic  \
0           1   76  Female                156                       94
1           2   39  Female                160                      185
2           3   85    Male                254                      173
3           4   45  Female                261                      187
4           5   48    Male                206                      189

   Blood_Pressure_Diastolic Smoking_Status Alcohol_Intake Physical_Activity  \
0                        79             No           High         Sedentary
1                        88             No            Low         Sedentary
2                       113            Yes       Moderate     Highly Active
3                        65             No           High         Sedentary
4                        84             No            Low            Active

   Obesity_Index Diabetes_Status Family_History_Heart_Disease Diet_Quality  \
0           35.2              No                           No         Good
1           21.3              No                           No      Average
2           32.0             Yes                           No         Good
3           36.4              No                          Yes      Average
4           26.6              No                           No         Good

  Stress_Level Heart_Attack_History Medication_Usage  Triglycerides_Level  \
0         High                   No               No                  264
1       Medium                   No              Yes                  150
2          Low                   No               No                  220
3          Low                   No              Yes                  141
4         High                   No               No                  221

   LDL_Level  HDL_Level  Heart_Attack_Outcome
0        141         65                     0
1         81         42                     0
2        124         70                     1
3         56         38                     1
4        186         26                     0

In [3]:
#4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe()
#function to get some initial statistics. Provide variable descriptions. Types of variables etc.
#Check the dimensions of the data frame.
df.isnull().sum()

Patient_ID                      0
Age                             0
Gender                          0
Cholesterol_Level               0
Blood_Pressure_Systolic         0
Blood_Pressure_Diastolic        0
Smoking_Status                  0
Alcohol_Intake                  0
Physical_Activity               0
Obesity_Index                   0
Diabetes_Status                 0
Family_History_Heart_Disease    0
Diet_Quality                    0
Stress_Level                    0
Heart_Attack_History            0
Medication_Usage                0
Triglycerides_Level             0
LDL_Level                       0
HDL_Level                       0
Heart_Attack_Outcome            0
dtype: int64

In [4]:
df.describe()

,Patient_ID,Age,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Obesity_Index,Triglycerides_Level,LDL_Level,HDL_Level,Heart_Attack_Outcome
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,56.929210,224.578740,144.317750,89.591950,29.004788,174.629860,124.333400,49.547090,0.587320
std,28867.657797,18.776713,43.316257,31.759636,17.277238,6.343317,72.118654,43.340624,17.350927,0.492319
min,1.000000,25.000000,150.000000,90.000000,60.000000,18.000000,50.000000,50.000000,20.000000,0.000000
25%,25000.750000,41.000000,187.000000,117.000000,75.000000,23.500000,112.000000,87.000000,35.000000,0.000000
50%,50000.500000,57.000000,225.000000,144.000000,90.000000,29.000000,175.000000,124.000000,50.000000,1.000000
75%,75000.250000,73.000000,262.000000,172.000000,105.000000,34.500000,237.000000,162.000000,65.000000,1.000000
max,100000.000000,89.000000,299.000000,199.000000,119.000000,40.000000,299.000000,199.000000,79.000000,1.000000

In [5]:
df.shape

(100000, 20)

In [6]:
df.dtypes

Patient_ID                        int64
Age                               int64
Gender                           object
Cholesterol_Level                 int64
Blood_Pressure_Systolic           int64
Blood_Pressure_Diastolic          int64
Smoking_Status                   object
Alcohol_Intake                   object
Physical_Activity                object
Obesity_Index                   float64
Diabetes_Status                  object
Family_History_Heart_Disease     object
Diet_Quality                     object
Stress_Level                     object
Heart_Attack_History             object
Medication_Usage                 object
Triglycerides_Level               int64
LDL_Level                         int64
HDL_Level                         int64
Heart_Attack_Outcome              int64
dtype: object

In [7]:
#5. Data Formatting and Data Normalization: Summarize the types of variables by checking the
#data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set.
#If variables are not in the correct data type, apply proper type conversions.
df['Patient_ID']= df['Patient_ID'].astype(float)
df['Age']= df['Age'].astype(float)
df['Cholesterol_Level']= df['Cholesterol_Level'].astype(float)
df['Triglycerides_Level']= df['Triglycerides_Level'].astype(float)
df['Blood_Pressure_Systolic']= df['Blood_Pressure_Systolic'].astype(float)
df['Blood_Pressure_Diastolic']= df['Blood_Pressure_Diastolic'].astype(float)
df['LDL_Level']= df['LDL_Level'].astype(float)
df['HDL_Level']= df['HDL_Level'].astype(float)
df['Heart_Attack_Outcome']= df['Heart_Attack_Outcome'].astype(float)

In [8]:
df.dtypes

Patient_ID                      float64
Age                             float64
Gender                           object
Cholesterol_Level               float64
Blood_Pressure_Systolic         float64
Blood_Pressure_Diastolic        float64
Smoking_Status                   object
Alcohol_Intake                   object
Physical_Activity                object
Obesity_Index                   float64
Diabetes_Status                  object
Family_History_Heart_Disease     object
Diet_Quality                     object
Stress_Level                     object
Heart_Attack_History             object
Medication_Usage                 object
Triglycerides_Level             float64
LDL_Level                       float64
HDL_Level                       float64
Heart_Attack_Outcome            float64
dtype: object

In [9]:
#6. Turn categorical variables into quantitative variables in Python using label encoding
df['Gender'] = df['Gender'].astype('category').cat.codes

In [4]:
df['Gender']

0        0
1        0
2        1
3        0
4        1
        ..
99995    0
99996    1
99997    0
99998    1
99999    1
Name: Gender, Length: 100000, dtype: int8