In [1]:
import pandas as pd
import seaborn as sns

In [2]:
# Load Titanic dataset from seaborn
df = sns.load_dataset('titanic')

In [3]:
df.head

<bound method NDFrame.head of      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]>

In [4]:
df.shape

(891, 15)

In [5]:
# Drop rows with missing Age values
df = df.dropna(subset=['age'])

In [6]:
df.shape

(714, 15)

In [7]:
# Group by 'sex' and calculate summary statistics for 'age'
summary_stats = df.groupby('sex')['age'].agg(['mean', 'median', 'min', 'max', 'std'])
summary_stats

             mean  median   min   max        std
sex
female  27.915709    27.0  0.75  63.0  14.110146
male    30.726645    29.0  0.42  80.0  14.678201

In [8]:
age_grouped = df.groupby('sex')['age'].apply(list)
age_grouped

sex
female    [38.0, 26.0, 35.0, 27.0, 14.0, 4.0, 58.0, 14.0...
male      [22.0, 35.0, 54.0, 2.0, 20.0, 39.0, 2.0, 35.0,...
Name: age, dtype: object

In [9]:
import pandas as pd

# Load the iris dataset
url = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
df = pd.read_csv(url)

In [13]:
df.head

<bound method NDFrame.head of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [22]:
# Group by species and describe
for col in df.columns:
    if(col != "species"):
        print(f"--------< {col} >--------")
        print(df.groupby("species")[col].agg(['mean', 'median', 'min', 'max', 'std']),"\n")

# for col in df.columns:
#     if(col != "species"):
#         print(f"<-----------{col}----------->")
#         print(species_group[col].agg(["mean", "median", "std", "min", "max"]))
#         print('\n')

--------< sepal_length >--------
             mean  median  min  max       std
species
setosa      5.006     5.0  4.3  5.8  0.352490
versicolor  5.936     5.9  4.9  7.0  0.516171
virginica   6.588     6.5  4.9  7.9  0.635880

--------< sepal_width >--------
             mean  median  min  max       std
species
setosa      3.418     3.4  2.3  4.4  0.381024
versicolor  2.770     2.8  2.0  3.4  0.313798
virginica   2.974     3.0  2.2  3.8  0.322497

--------< petal_length >--------
             mean  median  min  max       std
species
setosa      1.464    1.50  1.0  1.9  0.173511
versicolor  4.260    4.35  3.0  5.1  0.469911
virginica   5.552    5.55  4.5  6.9  0.551895

--------< petal_width >--------
             mean  median  min  max       std
species
setosa      0.244     0.2  0.1  0.6  0.107210
versicolor  1.326     1.3  1.0  1.8  0.197753
virginica   2.026     2.0  1.4  2.5  0.274650